NODE_ENV=Development
PORT=5001

# Base API của Locket (reverse / private API)
LOCKET_API_BASE=

# ================== FIREBASE ==================

# API Key Firebase (Auth, AppCheck, Identity Toolkit…)
FIREBASE_API_KEY=

# Firebase Authentication (Identity Toolkit API)
# Dùng cho: signIn, signUp, verifyPhoneNumber, refresh token...
FIREBASE_AUTH_API_BASE=https://www.googleapis.com/identitytoolkit/v3/relyingparty

# Firebase Firestore REST API base
# Dùng cho: đọc/ghi document qua REST
FIREBASE_FIRESTORE_API_BASE=https://firestore.googleapis.com/v1/projects/locket-4252a/databases

# Firebase App Check API
# Dùng cho: verify / exchange App Check token
FIREBASE_APPCHECK_API_BASE=https://firebaseappcheck.googleapis.com

# Firebase Secure Token API
# Dùng cho: refresh access token từ refresh token
FIREBASE_SECURETOKEN_API_BASE=https://securetoken.googleapis.com

FIRESTORE_DEFAULT=https://firestore.googleapis.com/v1/projects/locket-4252a/databases/(default)/documents/users/